
<ngx-monaco-editor class="code-editor" [options]="editorConfig"></ngx-monaco-editor>
<button style="display: block; margin: 0 auto; width: 95%" mat-raised-button color="primary" (click)="updateScript()">Save</button>
<div *ngFor="let option of chartOptions">
    <div echarts [options]="option" style="height: 400px"></div>
</div>
<div *ngFor="let table of tables">
    <table>
        <thead>
            <tr>
                <th *ngFor="let title of table.title">{{title}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of table.data">
                <td *ngFor="let block of row">{{block}}</td>
            </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>
